# Python
__pycache__/
*.pyc
.venv/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Terraform variables
*.tfvars
*.tfvars.json

# Sensitive files
.env

# VS Code
.vscode/

# macOS
.DS_Store